
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Ahojte chlapci a Eli :)</p>
        <p>Hello Andrew2</p>
        <p style="display:flex; justify-content:center; width: 100%">Projekt o Poslancoch</p>
    </div>
</body>
</html>
