@model Hack2019PO.Models.AttendanceRecord[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        @foreach (var data in Model)
        {
            <p>@data.SessionDate, @data.Name</p>
        }
    </div>
</body>
</html>
