@model Hack2019PO.Models.AttendanceRecord
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Poslanec nebol nájdený</title>
</head>
<body>
    <div>
        <p>Ľutujeme, ale poslanec @Model.Name nebol nájdený :(</p>
    </div>
</body>
</html>
