@model Hack2019PO.Models.MapData
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Result", "Map", FormMethod.Post))
        {
            <p>Ulica : @Html.DropDownListFor(x => x.Address, new SelectList(Hack2019PO.Internals.OpenDataHandler.Addresses, "17. novembra"))</p>
            <p>Číslo ulice : @Html.TextBoxFor(x => x.AddressNo)</p>
            <input type="submit" value="Vyhľadať" />
        }

    </div>
</body>
</html>
