
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>
</head>
<body>
    <div> 
        @Html.TextBox("adressTB", "Zadajte adresu");

        @Html.ActionLink("Search", "Map");
    </div>
</body>
</html>
